# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/cpp-dependencies/Debug/cpp-dependencies.pdb
*.log
*.pdb
*.idb
/cpp-dependencies/cpp-dependencies.VC.db
/cpp-dependencies/cpp-dependencies.VC.VC.opendb
